@import "variables";

.topMenu{
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 3px;
  //height: 101px;
  flex-shrink: 0;
}

.logo{
  line-height: 25px;
  padding-top: 10px;
  padding-left: 18px;
  .name{
    display: flex;
  }
  .surname{
    display: flex;
    margin-left: 17px;
  }
  .main-letter{
    font-size: 40px;
    color: #fff;
  }
  .rest{
    font-size: 25px;
    opacity: 0.4;
    color: #fff;
    line-height: 0.7;
    display: block;
    margin-left: 3px;
  }
}

.stats{
  display: flex;
  .inventory{
    display: flex;
    flex-direction: column;
  }

  .row{
    display: flex;
    &:not(:first-child){
      margin-top: 5px;
    }
  }

  .item{
    width: 25px;
    height: 23px;
    border: 2px solid $color-gray-light-border;
    background-color: $color-gray-light;
    &:not(:last-child){
      margin-right: 5px;
    }
  }

  .bars{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 180px;
  }

  .health-wr{
    width: 100%;
    height: 28px;
  }

  .health-bar{
    width: 100%;
    height: 100%;
    line-height: 27px;
    display: flex;
    .item{
      border: 2px solid #fff;
      height: 100%;
      background-color: transparent;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;
      .number{
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
      }
      &.full{
        background-color: $color-gold-main;
      }
    }
  }

  .health-text{
    color: #000;
    text-shadow:
            1px 1px 0 #fff,
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
  }


  .energy-wr{
    margin-top: 5px;
  }

  .energy-bar{
    display: flex;
    flex-wrap: wrap;
    .item{
      border: 2px solid #fff;
      flex-grow: 1;
      flex-basis: 41px;
      height: 18px;
      background-color: transparent;
      //display: flex;
      text-align: center;
      &.full{
        background-color: #f000ff;
      }
      &:not(:last-child){
        //margin-right: 5px;
      }
    }
  }


  .avatar-wr{
    margin-left: 15px;
  }

  .avatar-container{
    //height: 100%;
    width: 53px;
    height: 51px;
    background-color: $color-gray-light;
    border: 2px $color-gray-light-border solid;
    //background-image: url("");
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .avatar-img{
    width: 39px;
  }

  .avatar-nickname{
    margin-top: 12px;
    font-size: 13px;
    opacity: 0.5;
    position: absolute;
  }
}