@import "styles/variables";
@import "styles/mixins";
@import "./assets/fonts/index";


:global{
  *{
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body{
    background-color: #1b1b1b;
    font-family: "Connection", Arial;
    overflow: hidden;
  }
  #root{
    height: 100%;
  }
  a{
    color: #ffffff;
    text-decoration: none;
  }
  @include xs {
    body{
      background-color: #292929;
      font-size: 14px;
      //overflow: auto;
    }
    #root{
      border: 15px solid #1b1b1b;
      background-color: #292929;
      background-image: url("/assets/images/repeatxy.png");
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}