@import "styles/mixins.scss";

.wrapper{
  display: flex;
  flex-direction: column;
  background-color: #292929;
  background-image: url("/assets/images/repeatxy.png");
  overflow-y: scroll;
  overflow-x: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  &.first{
    padding: 120px 30px 30px 100px;
  }
  &.second{
    padding: 60px 100px;
  }
}

.title{
  font-size: 70px;
  color: #fff;
  line-height: 1.2;
}

.subtitle{
  font-size: 26px;
  color: #fff;
  line-height: 1.5;
}

.subtitle2{
  font-size: 17px;
  color: #fff;
  line-height: 1.5;
}

.bordered{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.tooltip-wr{
  position: fixed;
  width: 100%;
  padding: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  transition: 0.5s;
  bottom: 0px;
  &.shown{
    transform: translateX(-50%) translateY(0%);
  }
}

.tooltip {
  background-color: #080808;
  border: 5px solid #ffba4d;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 100;
  .close-btn{
    background-color: #d24a43;
    width: 15px;
    height: 15px;
    border: 2px solid #3b3b3b;
    position: absolute;
    right: 3px;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button{
  border: 3px solid #fff;
  background-color: #080808;
  padding: 15px;
  color: #ffffff;
  display: inline-block;
}

.services{
  padding: 45px 30px 0;
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child){
      margin-bottom: 45px;
    }
    .image{
      z-index: 10;
    }
    .desc-wr{
      margin-top: -15px;
      border: 3px solid #fff;
      background-color: #080808;
      padding: 30px 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .name{
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1.2;
      }
      .subname{
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.2;
      }
      .info{
        font-size: 14px;
        line-height: 1.2;
        opacity: 0.7;
      }
    }
    &.backend{
      .subname{
        font-size: 16px;
      }
    }
  }
}


.projects{
  padding: 60px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contacts{
  padding: 30px 0;
  .item{
    display: flex;
    color: #ffffff;
    align-items: center;
    margin-bottom: 15px;
    .image{
      margin-right: 30px;
    }
    .desc{
      display: flex;
      flex-direction: column;
    }
    .name{
      margin-bottom: 5px;
    }
    .link{
      color: #e4910f;
    }
  }
}